@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


/* layout */
body {font-family: 'Noto Sans KR', sans-serif; color: #030101;}
.wrap {width: 100%; overflow: hidden;}



/* header */
header {position: fixed; top: 0; width: 100%; background: rgba(255, 255, 255, 0.8); z-index: 100;}
.innerHeader {width: 87.5%; height: 60px; margin: 0 auto; overflow: hidden;}
.innerHeader .logo {height: 100%; width: auto; float: left;}
.innerHeader .logo img {height: 100%;}
.innerHeader .gnb {float: right; font-family: 'GmarketSansMedium'; font-size: 20px; line-height: 3;
width: 50%; font-weight: bold;}
.innerHeader .gnb li {float: left; margin-left: 8%; transition: all 0.3s;}
.innerHeader .gnb li:first-child {margin-left: 20%;}
/* header-hover */
.innerHeader .gnb li:hover, .innerHeader .gnb li:focus {color: #FFD955; transition: all 0.3s;}



/* contents */
/* .visual */
.visual {width: 100%; height: 100vh;}
.visual .mainImg {width: 100%; height: 100vh; object-fit: cover; position: relative;}
.visual .mainImg .img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.visual .mainImg .deco01 {position: absolute; left: 25%; top: 10%;}
.visual .mainImg .deco02 {position: absolute; right: 24%; bottom: 0;}
.visual .mainImg .deco03 {position: absolute; right: 18%; top: 33%; width: 39px;}
.visual .mainImg .deco03 img {width: 100%;}
.visual .mainImg .deco04 {position: absolute; left: 20%; bottom: 33%; width: 209px; z-index: -1;}
.visual .mainImg .deco04 img {width: 100%;}
.visual .mainImg .deco05 {position: absolute; left: 18%; bottom: 1%;}
.visual .mainImg .txt {font-size: 23px; letter-spacing: 2px;}
.visual .mainImg .txt.th {position: absolute; left: 35%; top: 18%;}
.visual .mainImg .txt.hr {position: absolute; left: 62%; top: 42%;}
.visual .mainImg .txt.go {position: absolute; left: 55%; bottom: 30%;}
.visual .mainImg .txt.ta {position: absolute; right: 23.5%; bottom: 13%; transform: rotate(-22deg);}


/* .profile */
.profile {width: 100%;}
/* .profile-top */
.profile > .top {width: 100%; background: #E9E9E9; overflow: hidden;}
.profile .top .top_inner {width: 87.5%; background: #fff; margin: 130px auto 0; padding-bottom: 424px;
overflow: hidden; position: relative; z-index: 0;}
.profile .top .top_inner .top {overflow: hidden;}
.profile .top .top .left {float: left; margin-left: 12.5%; margin-top: 150px; font-size: 20px; line-height: 30px;}
.profile .top .top .right {float: right; width: 38%; height: auto; background:#BB420D; margin-right: 200px; z-index: 2;}
.profile .top .top .right .img {width: 76%; height: auto; margin: 23% auto 0;}
.profile .top .top .right .img img {width: 100%;}
.profile .top .bottom {width: 87.5%; background: #E9E9E9; margin: 0 auto; padding-top: 140px; overflow: hidden;
position: absolute; top: 501px; left: 50%; transform: translateX(-50%); z-index: -1;}
.profile .top .bottom .left {float: left; margin-left: 6.25%;}
.profile .top .bottom .left .tit {margin-bottom: 35px;}
.profile .top .bottom .left .txt {font-size: 40px; font-weight: bold; color: #BB420D; margin-bottom: 140px;}
.profile .top .bottom .right {float: right; margin-right: 6.25%; text-align: right; font-size: 30px; color: #BB420D;
line-height: 50px; margin-top: 145px;}
/* .profile-bottom */
.profile > .bottom {width: 100%; background: #BB420D; overflow: hidden;}
.profile > .bottom .left {float: left; width: 43.75%; height: 1390px; margin-left: 6.25%; background: #fff;
padding: 140px 0 0 200px; box-sizing: border-box; margin-bottom: 130px;}
.profile > .bottom ul {margin-bottom: 135px;}
.profile > .bottom ul li {margin-bottom: 35px;}
.profile > .bottom ul li:first-child {margin-bottom: 30px;}
.profile > .bottom .tit {font-size: 40px; font-weight: bold; padding-left: 50px; position: relative; color: #BB420D;}
.profile > .bottom .tit img {position: absolute; left: 0;}
.profile > .bottom .date {font-size: 20px; font-style: italic; margin-bottom: 10px;}
.profile > .bottom .sub_tit {font-size: 25px; font-weight: bold; margin-bottom: 10px;}
.profile > .bottom .sub_tit span {font-size: 23px; color: #E26F40;}
.profile > .bottom .sub_txt {font-size: 15px; line-height: 25px;}
.profile > .bottom .right {float: right; width: 43.75%; height: 1390px; margin-right: 6.25%; padding-left: 6.25%;
background: #fff; padding-top: 140px; box-sizing: border-box; margin-bottom: 130px;}


/* .timeline */
.timeline {width: 100%; height: 1875px; background: #fff;}
/* .timeline-top */
.timeline .top {width: 75%; margin: 0 auto;}
.timeline .top h2 {margin: 130px 0 15px 0; font-size: 75px; color: #648347;}
.timeline .top p {font-size: 20px; color: #648347; margin-bottom: 180px;}
/* .timeline-bottom */
.timeline .bottom {width: 100%; height: 82%; position: relative; background: url(../img/about/about_timeline.png) no-repeat center center/100%;}
/* .timeline-bottom-descBox */
.timeline .bottom .descBox {width: 75%; height: 100%; margin: 0 auto; position: relative;}
.timeline .bottom .descBox .icon {width: 150px; margin: 0 auto;}
.timeline .bottom .descBox .sub_tit {font-size: 30px; font-weight: bold; color: #648347; text-align: center; margin-bottom: 15px;}
.timeline .bottom .descBox .txt {font-size: 15px; line-height: 20px; color: #030101; text-align: center; margin-bottom: 30px;}
.timeline .bottom .descBox .line {width: 256px; margin: 0 auto;}
.timeline .bottom .descBox .year {content: '';  width: 136px; height: 136px; border-radius: 50%; background: #030101;
display: block; position: relative; margin: 0 auto;}
.timeline .bottom .descBox .year:after {content: '1994'; color: #fff; font-size: 45px; font-family: 'GmarketSansMedium', sans-serif;
position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); letter-spacing: -3px;}
.timeline .bottom .descBox .first {display: inline-block; position: absolute; top: 25%; left: 8.5%;}
.timeline .bottom .descBox .first .line {margin-bottom: 100px;}
.timeline .bottom .descBox .second {display: inline-block; position: absolute; top: 60%; left: 23.5%;}
.timeline .bottom .descBox .second .year {margin-bottom: 100px;}
.timeline .bottom .descBox .second .year:after {content: '2012';}
.timeline .bottom .descBox .second .line {transform: rotate(180deg);}
.timeline .bottom .descBox .third {display: inline-block; position: absolute; top: 5.5%; left: 38%;}
.timeline .bottom .descBox .third .line {margin-bottom: 100px;}
.timeline .bottom .descBox .third .year:after {content: '2017';}
.timeline .bottom .descBox .fourth {display: inline-block; position: absolute; top: 50%; left: 55.5%;}
.timeline .bottom .descBox .fourth .year {margin-bottom: 130px;}
.timeline .bottom .descBox .fourth .year:after {content: '2022';}
.timeline .bottom .descBox > .line {transform: rotate(140deg); position: absolute; top: 63%; left: 67%;}
.timeline .bottom .descBox .fifth {display: inline-block; position: absolute; top: 52%; left: 80%;}


/* .ncs */
.ncs {width: 100%;}
/* .ncs-top */
.ncs .top {width: 100%; height: 790px; overflow: hidden; background: url(../img/about/about_ncs_topimg.jpg) no-repeat center/cover;
background-attachment : fixed;}
.ncs .top .bg {width: 100%; height: 790px; background: rgba(3,1,1,0.65); position: absolute;}
.ncs .top .inner {width: 75%; margin: 0 auto; position: relative;}
.ncs .top h2 {margin: 465px 0 15px; font-size: 75px; color: #fff;}
.ncs .top p {font-size: 20px; line-height: 27px; color: #fff;}
/* .ncs-bottom */
.ncs .bottom {width: 100%;}
.ncs .bottom .inner {width: 75%; margin: 0 auto;}
.ncs .bottom .inner .textbook {margin: 130px 0 190px 150px; position: relative; width: 100%;}
.ncs .bottom .inner .txtBox .icon {margin-top: 200px; margin-left: 17%;}
.ncs .bottom .inner .txtBox .sub_tit {margin-left: 17%; font-size: 25px; font-weight: bold; color: #BB420D;
margin-bottom: 20px;}
.ncs .bottom .inner .txtBox .txt {margin-left: 17%; font-size: 15px; line-height: 25px;}
.ncs .bottom .inner .textbook .img {width: 39%;}
.ncs .bottom .inner .textbook .img img {width: 100%;}
.ncs .bottom .inner .textbook .line {border: 1.5px solid #030101; width: 58.75%; height: 500px;
position: absolute; left: 24%; top: 12%;}
.ncs .bottom .inner .textbook .txtBox {width: 40%; height: 590px; background: #E9E9E9;
position: absolute; left: 33%; top: 31%;}
.ncs .bottom .inner .habit {position: relative; width: 100%; height: 818px; margin-bottom: 130px;}
.ncs .bottom .inner .habit .img {width: 65%; position: absolute; right: 0; bottom: 0;}
.ncs .bottom .inner .habit .img img {width: 100%;}
.ncs .bottom .inner .habit .line {border: 1.5px solid #030101; width: 70%; height: 530px; position: absolute; left: 0; top: 0;}
.ncs .bottom .inner .habit .txtBox {width: 40%; height: 590px; background: #E9E9E9; position: absolute; left: 10%; top: 10%;}


/* .ncs_pdf */
.ncs_pdf {width: 100%; position: relative;}
/* .ncs_pdf-top */
.ncs_pdf .top_bg {width: 100%; height: 768px; background: #E9E9E9;}
.ncs_pdf .top_bg .top {width: 75%; margin: 0 auto; overflow: hidden;}
.ncs_pdf .top_bg .top .tit {font-size: 75px; color: #648347; margin: 130px 0 15px 0; text-align: right;}
.ncs_pdf .top_bg .top p {font-size: 20px; color: #648347; text-align: right; }
.ncs_pdf .pdfs {width: 75%; position: absolute; left: 50%; transform: translateX(-50%); top: 333px; overflow: hidden;}
.ncs_pdf .pdfs > li {width: 100%; margin-bottom: 30px; overflow: hidden;}
.ncs_pdf .pdfs li.fifth_row {width: 32%;}
.ncs_pdf .pdfs li.fifth_row img {width: 100%;}
.ncs_pdf .pdfs li ul li {width: 32%; margin-right: 2%; float: left;}
.ncs_pdf .pdfs li ul li:nth-child(3) {margin-right: 0;}
.ncs_pdf .pdfs li ul li img {width: 100%;}
.ncs_pdf .bottom_bg {width: 100%; height: 1165px; background: #648347;}


/* .contatct */
.contact {width: 100%; background: #fff; overflow: hidden;}
/* .contatct-left */
.contact .left {width: 65%; background: #E9E9E9; float: left; padding-bottom: 200px;}
.contact .left .top h2 {padding: 170px 0 15px 0; font-size: 75px; text-align: center;}
.contact .left .top p {font-size: 20px; line-height: 27px; margin-bottom: 50px; text-align: center;}
.contact .left .bottom .contactBox {margin-left: 27%; position: relative;}
.contact .left .bottom .contactBox::before {content: ''; width: 1px; height: 337px; background: #6E6E6E;
position: absolute; top: 30px; left: 17.5px;}
.contact .left .bottom .contactBox ul {overflow: hidden; margin: 0 auto 45px; position: relative;}
.contact .left .bottom .contactBox ul li i {content: ''; width: 35px; height: 35px; background: #FFD955;
border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.contact .left .bottom .contactBox ul li .tit {font-size: 25px; font-weight: bold; float: left; line-height: 63px; margin-left: 55px;}
.contact .left .bottom .contactBox ul li .txt {width: 340px; height: 63px; background: #fff; float: right;
font-size: 25px; text-align: center; line-height: 63px; margin-right: 36%;}
/* .contatct-right */
.contact .right {width: 35%; float: right;}
.contact .right p.img {width: 470px; position: relative;}
.contact .right p.img img {width: 100%; position: absolute; left: -6%;}



/* footer */
footer {width: 100%; background: #030101; overflow: hidden;}
footer .bar {width: 100%; height: 300px; overflow: hidden; position: relative;}
footer .bar p {width: 150%; color: #fff; line-height: 300px; font-size: 100px; font-family: 'Averia Serif Libre', cursive;
animation: flow 30s linear infinite; position: absolute; right: -150%; display: inline-block;}
footer .bar p:last-child {animation-delay: 15s;}

@keyframes flow {
    0% {right: -150%;}
    100% {right: 150%;}
}