@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* .about-bottom */
.aco_tit {font-size: 45px; font-weight: bold; border-bottom: 2px solid #fff;
cursor: pointer; padding: 20px 0; letter-spacing: 1.5px; transition: all 0.3s;}
.aco_tit span {font-size: 40px; color: #FFD955; opacity: 0; transition: all 0.3s;}
.aco_tit.on p {font-size: 55px; color: #FFD955; border: none;}
.aco_tit.on span {opacity: 1;}
.aco_txt {font-size: 20px; color: #FFD955; line-height: 35px; padding: 0 0 20px 0;
border-bottom: 2px solid #FFD955; opacity: 0; height: 0;}
.aco_txt.on {opacity: 1; height: auto;}
/* .about-hover */
.aco_tit:hover {border-bottom: 2px solid #FFD955; transition: all 0.3s;}
.aco_tit:hover p {color: #FFD955; transition: all 0.3s;}
.aco_tit:hover span {opacity: 1; transition: all 0.3s;}