@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


/* layout */
body {font-family: 'Noto Sans KR', sans-serif; color: #030101;}
.wrap {width: 100%; overflow: hidden;}



/* header */
header {position: fixed; top: 0; width: 100%; background: rgba(255, 255, 255, 0.8); z-index: 100;}
.innerHeader {width: 87.5%; height: 60px; margin: 0 auto; overflow: hidden;}
.innerHeader .logo {height: 100%; width: auto; float: left;}
.innerHeader .logo img {height: 100%;}
.innerHeader .gnb {float: right; font-family: 'GmarketSansMedium'; font-size: 20px; line-height: 3;
width: 50%; font-weight: bold;}
.innerHeader .gnb li {float: left; margin-left: 8%; transition: all 0.3s;}
.innerHeader .gnb li:first-child {margin-left: 20%;}
/* header-hover */
.innerHeader .gnb li:hover, .innerHeader .gnb li:focus {color: #FFD955; transition: all 0.3s;}



/* contents */
/* .visual */
.visual {width: 100%; height: 1080px;}
.visual .mainTit {width: 75%; margin: 230px auto 60px; font-size: 75px; font-family: 'Averia Serif Libre', cursive;}
.visual .mainTit p {position: relative; display: inline-block;}
.visual .mainTit p::after {content: ''; width: 55px; height: 5px; background: #030101; position: absolute; right: -17%; bottom: 23%;}
.visual .mainImg {width: 100%; height: 490px; overflow: hidden;}
.visual .mainImg .slide {width: 100%; height: 100%; position: relative;}
.visual .mainImg .slide li ul li {float: left;}
.visual .mainImg .slide .img {width: 815px; height: 490px;}
.visual .mainImg .slide .img img {width: 100%; height: 100%;}
.visual .mainImg .slide .txtBox {position: relative; margin-left: 90px;}
.visual .mainImg .slide .txtBox .tit {font-size: 40px; font-weight: bold; line-height: 50px; margin: 45px 0 30px;}
.visual .mainImg .slide .txtBox .sub_tit {font-size: 20px; font-weight: bold; margin-bottom: 25px;}
.visual .mainImg .slide .txtBox .txt {font-size: 15px; line-height: 25px;}
.visual .mainImg .slide .txtBox .btn {font-size: 15px; font-weight: bold; color: #fff; background: #030101; padding: 9px 50px 9px 25px;
border-radius: 50px; position: absolute; left: 0; bottom: -75px; transition: all 0.3s;}
.visual .mainImg .slide .txtBox .btn::before {content: ''; width: 16px; height: 2px; background: #fff; transition: all 0.3s;
position: absolute; right: 22px; top: 50%; transform: translateY(-50%);}
.visual .mainImg .slide .txtBox .btn::after {content: ''; width: 2px; height: 16px; background: #fff; transition: all 0.3s;
position: absolute; right: 29px; top: 50%; transform: translateY(-50%);}
/* .visual-hover */
.visual .mainImg .slide .txtBox .btn:hover, .visual .mainImg .slide .txtBox .btn:focus {color: #030101; background: #fff; box-shadow: 0 0 0 1px #030101 inset; transition: all 0.3s;}
.visual .mainImg .slide .txtBox .btn:hover:before, .visual .mainImg .slide .txtBox .btn:hover:after,
.visual .mainImg .slide .txtBox .btn:focus:before, .visual .mainImg .slide .txtBox .btn:focus:after {background: #030101; transition: all 0.3s;}
/* .visual-slick */
.slick-slide.slick-active {width: 1550px !important;}
/* .slick-arrow */
.visual .mainImg .slide .slick-arrow {position: absolute; left: 1350px; top: 0; cursor: pointer; width: 30px; height: 30px; border-radius: 50%;
border: 1px solid #030101; background: none; text-indent: -99999px; z-index: 10;}
.visual .mainImg .slide .slick-arrow.slick-next {left: 1400px;}
.visual .mainImg .slide .slick-arrow::after {content: '〈'; font-size: 15px; font-weight: bold; color: #030101; width: 100%; height: 100%;
position: absolute; left: 47%; top: 63%; transform: translate(-50%, -50%); text-indent: 0%;}
.visual .mainImg .slide .slick-arrow.slick-next::after {content: '〉'; left: 51%;}
/* .slick-dots */
.visual .mainImg .slide .slick-dots {position: absolute; bottom: 0px; left: 906px;}
.visual .mainImg .slide .slick-dots li {float: left; cursor: pointer;}
.visual .mainImg .slide .slick-dots li button {width: 30px; height: 2px; background: #E9E9E9; border: none; text-indent: -99999px;}
.visual .mainImg .slide .slick-dots li.slick-active button {background: #030101;}


/* .class */
.class {width: 100%;}
/* .class-top */
.class .top {width: 100%; height: 550px; overflow: hidden; background: url(../img/gallery/gallery_class.jpg) no-repeat center/cover;
background-attachment: fixed; position: relative;}
.class .top .bg {width: 100%; height: 550px; background: rgba(3,1,1,0.65); position: absolute; left: 0; top: 0;}
.class .top .inner {width: 75%; margin: 0 auto; position: relative;}
.class .top h2 {margin: 250px 0 15px; font-size: 75px; color: #fff;}
.class .top p {font-size: 20px; line-height: 27px; color: #fff;}
/* .class-bottom */
.class .bottom {width: 100%;}
.class .bottom .inner .list {width: 87.5%; margin: 0 auto; overflow: hidden;}
.class .bottom .inner .list .tit {font-size: 25px; font-weight: bold; color: #D03F2E; padding-bottom: 30px; border-bottom: 1px solid #030101;}
.class .bottom .inner .list .sub_list {position: relative; height: 225px; border-bottom: 1px solid #030101; cursor: pointer; overflow: hidden;}
.class .bottom .inner .list .sub_list::before {content: ''; width: 0%; height: 225px; background: #FFD955;
position: absolute; top: 50%; transform: translateY(-50%); transition: all 0.5s;}
.class .bottom .inner .list .sub_list ul {overflow: hidden;}
.class .bottom .inner .list .num {font-size: 80px; font-weight: bold; color: #fff; position: absolute; top: 50%; transform: translateY(-50%);
text-shadow: -1px -1px 0 #030101, 1px -1px 0 #030101, -1px 1px 0 #030101, 1px 1.5px 0 #030101; margin-left: 15px; transition: all 0.3s;}
.class .bottom .inner .list .txtBox {padding: 60px 0 60px 255px; position: absolute;} 
.class .bottom .inner .list .sub_tit {font-size: 45px; font-weight: bold; margin-bottom: 15px;}
.class .bottom .inner .list .txt {font-size: 15px;}
.class .bottom .inner .list .thumbnail {width: 336px; height: 225px; float: right; position: relative;}
.class .bottom .inner .list .thumbnail a {width: 336px; height: 189px; position: absolute; top: 50%; transform: translateY(-50%); right: 64%; overflow: hidden;}
.class .bottom .inner .list .thumbnail a::before {content: ''; width: 0%; height: 6px; background: #D03F2E; position: absolute; top: 0; left: 0;
opacity: 1; transition: all 0.3s; z-index: 2;}
.class .bottom .inner .list .thumbnail a::after {content: ''; width: 0%; height: 6px; background: #D03F2E; position: absolute; bottom: 0; right: 0;
opacity: 1; transition: all 0.3s; z-index: 2;}
.class .bottom .inner .list .thumbnail a .img {width: 336px; height: 189px; overflow: hidden; transition: all 0.3s;}
.class .bottom .inner .list .thumbnail a .img::before {content: ''; width: 6px; height: 0%; background: #D03F2E; position: absolute; bottom: 0; left: 0;
opacity: 1; transition: all 0.3s; z-index: 2;}
.class .bottom .inner .list .thumbnail a .img::after {content: ''; width: 6px; height: 0%; background: #D03F2E; position: absolute; top: 0; right: 0;
opacity: 1; transition: all 0.3s; z-index: 2;}
.class .bottom .inner .list .thumbnail a .img span::before {content: ''; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4);
position: absolute; left: 0; top: 0; opacity: 0; transition: all 0.3s; z-index: 1;}
.class .bottom .inner .list .thumbnail a .img img {width: 100%; transition: all 0.3s;}
.class .bottom .inner .list .btn img {position: absolute; right: 35px; top: 50%; transform: translateY(-50%) rotate(-22deg); opacity: 0; transition: all 0.3s;}
/* .class-bottom .graphic */
.class .bottom .graphic {width: 100%; background: #fff;}
.class .bottom .graphic .inner {width: 87.5%; margin: 130px auto 0; position: relative;}
.class .bottom .graphic .inner .symbol.circle01 {position: absolute; right: -50px; top: 250px;}
.class .bottom .graphic .inner .symbol.circle02 {position: absolute; right: 30px; top: -30px;}
.class .bottom .graphic .inner .tit {padding-top: 40px;}
/* .class-bottom .webPub01 */
.class .bottom .webPub01 {width: 100%; background: #D03F2E;}
.class .bottom .webPub01 .inner {width: 87.5%; background: #fff; margin: 0 auto;}
.class .bottom .webPub01 .inner .tit {margin-top: 90px; padding-top: 60px;}
/* .class-bottom .webPub02 */
.class .bottom .webPub02 {width: 100%; background: #E9E9E9;}
.class .bottom .webPub02 .inner {width: 87.5%; background: #fff; margin: 0 auto;}
.class .bottom .webPub02 .inner .list {padding-bottom: 170px;}
/* .class-hover */
.class .bottom .inner .list .sub_list:hover:before, .class .bottom .inner .list .sub_list:focus:before {content: ''; width: 100%; transition: all 0.5s;}
.class .bottom .inner .list .sub_list:hover .num, .class .bottom .inner .list .sub_list:focus .num {color: #030101; transition: all 0.3s;}
.class .bottom .inner .list .sub_list:hover .btn img, .class .bottom .inner .list .sub_list:focus .btn img {opacity: 1; transition: all 0.3s;}
.class .bottom .inner .list .thumbnail a:hover:before, .class .bottom .inner .list .thumbnail a:hover:after {width: 100%; opacity: 1;}
.class .bottom .inner .list .thumbnail a:focus:before, .class .bottom .inner .list .thumbnail a:focus:after {width: 100%; opacity: 1;}
.class .bottom .inner .list .thumbnail a:hover img {transform: scale(1.1); transition: all 0.3s;}
.class .bottom .inner .list .thumbnail a .img:hover:before, .class .bottom .inner .list .thumbnail a .img:hover:after {height: 100%; opacity: 1;}
.class .bottom .inner .list .thumbnail a .img:focus:before, .class .bottom .inner .list .thumbnail a .img:focus:after {height: 100%; opacity: 1;}
.class .bottom .inner .list .thumbnail a .img span:hover:before {opacity: 1;}


/* .assign */
.assign {width: 100%;}
/* .assign-top */
.assign .top {width: 100%; height: 550px; overflow: hidden; background: url(../img/gallery/gallery_assignment.jpg) no-repeat center/cover;
background-attachment: fixed; position: relative;}
.assign .top .bg {width: 100%; height: 550px; background: rgba(3,1,1,0.65); position: absolute; left: 0; top: 0;}
.assign .top .inner {width: 75%; margin: 0 auto; position: relative;}
.assign .top h2 {margin: 250px 0 15px; font-size: 75px; color: #fff;}
.assign .top p {font-size: 20px; line-height: 27px; color: #fff;}
/* .assign-bottom */
.assign .bottom {width: 100%;}
.assign .bottom .project {width: 100%; background: #FFD955;}
.assign .bottom .project .inner {width: 87.5%; margin: 0 auto; background: #fff;}
.assign .bottom .project .inner .list {width: 87.5%; margin: 0 auto; padding: 170px 0;}
.assign .bottom .project .inner .list .tit {font-size: 25px; font-weight: bold; color: #D03F2E; padding-bottom: 30px; border-bottom: 1px solid #030101;}
.assign .bottom .project .inner .list .sub_list {position: relative; height: 225px; border-bottom: 1px solid #030101; cursor: pointer;}
.assign .bottom .project .inner .list .sub_list::before {content: ''; width: 0%; height: 225px; background: #FFD955;
position: absolute; top: 50%; transform: translateY(-50%); transition: all 0.5s;}
.assign .bottom .project .inner .list .sub_list ul li {float: left;}
.assign .bottom .project .inner .list .num {font-size: 80px; font-weight: bold; color: #fff; position: absolute; top: 50%; transform: translateY(-50%);
text-shadow: -1px -1px 0 #030101, 1px -1px 0 #030101, -1px 1px 0 #030101, 1px 1.5px 0 #030101; margin-left: 15px; transition: all 0.3s;}
.assign .bottom .project .inner .list .txtBox {padding: 60px 0 60px 255px; position: absolute;} 
.assign .bottom .project .inner .list .sub_tit {font-size: 45px; font-weight: bold; margin-bottom: 15px;}
.assign .bottom .project .inner .list .txt {font-size: 15px; }
.assign .bottom .project .inner .list .img {width: 336px; height: 189px; overflow: hidden;
position: absolute; top: 50%; right: 210px; transform: translateY(-50%);}
.assign .bottom .project .inner .list .img img {width: 100%;}
.assign .bottom .project .inner .list .btn img {position: absolute; right: 35px; top: 50%; transform: translateY(-50%) rotate(-22deg); opacity: 0; transition: all 0.3s;}
/* .assign-hover */
.assign .bottom .inner .list .sub_list:hover:before, .assign .bottom .inner .list .sub_list:focus:before {content: ''; width: 100%; transition: all 0.5s;}
.assign .bottom .inner .list .sub_list:hover .num, .assign .bottom .inner .list .sub_list:focus .num {color: #030101; transition: all 0.3s;}
.assign .bottom .inner .list .sub_list:hover .btn img, .assign .bottom .inner .list .sub_list:focus .btn img {opacity: 1; transition: all 0.3s;}



/* .contatct */
.contact {width: 100%; background: #fff; overflow: hidden;}
/* .contatct-left */
.contact .left {width: 65%; background: #E9E9E9; float: left; padding-bottom: 200px;}
.contact .left .top h2 {padding: 170px 0 15px 0; font-size: 75px; text-align: center;}
.contact .left .top p {font-size: 20px; line-height: 27px; margin-bottom: 50px; text-align: center;}
.contact .left .bottom .contactBox {margin-left: 27%; position: relative;}
.contact .left .bottom .contactBox::before {content: ''; width: 1px; height: 337px; background: #6E6E6E;
position: absolute; top: 30px; left: 17.5px;}
.contact .left .bottom .contactBox ul {overflow: hidden; margin: 0 auto 45px; position: relative;}
.contact .left .bottom .contactBox ul li i {content: ''; width: 35px; height: 35px; background: #FFD955;
border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.contact .left .bottom .contactBox ul li .tit {font-size: 25px; font-weight: bold; float: left; line-height: 63px; margin-left: 55px;}
.contact .left .bottom .contactBox ul li .txt {width: 340px; height: 63px; background: #fff; float: right;
font-size: 25px; text-align: center; line-height: 63px; margin-right: 36%;}
/* .contatct-right */
.contact .right {width: 35%; float: right;}
.contact .right p.img {width: 470px; position: relative;}
.contact .right p.img img {width: 100%; position: absolute; left: -6%;}



/* footer */
footer {width: 100%; background: #030101; overflow: hidden;}
footer .bar {width: 100%; height: 300px; overflow: hidden; position: relative;}
footer .bar p {width: 150%; color: #fff; line-height: 300px; font-size: 100px; font-family: 'Averia Serif Libre', cursive;
animation: flow 30s linear infinite; position: absolute; right: -150%; display: inline-block;}
footer .bar p:last-child {animation-delay: 15s;}

@keyframes flow {
    0% {right: -150%;}
    100% {right: 150%;}
}