@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}


/* layout */
body {font-family: 'Noto Sans KR', sans-serif; color: #030101;}
.wrap {width: 100%; overflow: hidden;}



/* header */
header {position: fixed; top: 0; width: 100%; background: rgba(255, 255, 255, 0.8); z-index: 100;}
.innerHeader {width: 87.5%; height: 60px; margin: 0 auto; overflow: hidden;}
.innerHeader .logo {height: 100%; width: auto; float: left;}
.innerHeader .logo img {height: 100%;}
.innerHeader .gnb {float: right; font-family: 'GmarketSansMedium'; font-size: 20px; line-height: 3;
width: 50%; font-weight: bold;}
.innerHeader .gnb li {float: left; margin-left: 8%; transition: all 0.3s;}
.innerHeader .gnb li:first-child {margin-left: 20%;}
/* header-hover */
.innerHeader .gnb li:hover, .innerHeader .gnb li:focus {color: #FFD955; transition: all 0.3s;}



/* contents */
/* .visual */
.visual {width: 100%; height: 1720px; background: url(../img/portfolio/portfolio_visual.jpg) no-repeat center/cover; overflow: hidden;}
.visual .inner {width: 75%; margin: 0 auto;}
.visual .inner .tit {margin-top: 230px; font-size: 75px; font-family: 'Averia Serif Libre', cursive; position: relative; display: inline-block;}
.visual .inner .tit::after {content: ''; width: 55px; height: 5px; background: #030101; position: absolute; right: -8%; bottom: 23%;}
.visual .inner .mainVideo {width: 75%; height: 100%; margin: 535px auto 0; position: relative;}
.visual .inner .mainVideo video {width: 98%; object-fit: cover; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); border-radius: 30px;}
.visual .inner .mainVideo img {width: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}


/* .timeline */
.timeline {width: 100%; overflow: hidden;}
.timeline .gradation {width: 100%; position: relative;}
.timeline .gradation img {width: 100%; height: 7964px; position: absolute; left: 0; top: 0;}
/* .timeline .ideation */
.timeline .ideation {width: 100%;}
.timeline .ideation .inner {width: 75%; margin: 0 auto; overflow: hidden; position: relative;}
.timeline .ideation .inner::before {content: ''; width: 5px; height: 1368px; background: #fff;
position: absolute; left: 50%; top: 450px; transform: translateX(-50%); z-index: 2;}
.timeline .ideation .inner::after {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 450px; transform: translateX(-50%); z-index: 3;}
.timeline .ideation .inner .dot01 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 835px; transform: translateX(-50%); z-index: 3;}
.timeline .ideation .inner .dot02 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 1142px; transform: translateX(-50%); z-index: 3;}
.timeline .ideation .inner .num {font-size: 200px; font-weight: bold; letter-spacing: -20px;
position: absolute; left: 52.5%; top: 10%; transform: translateX(-50%); color: #fff;}
.timeline .ideation .inner .tit {font-size: 75px; font-weight: bold; margin: 280px 0 60px;}
.timeline .ideation .inner .sub_tit {font-size: 25px; font-weight: bold; color: #FFD955; margin-bottom: 20px; position: relative;}
.timeline .ideation .inner .sub_tit::before {content: ''; width: 190px; height: 3px; background: #FFD955;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .ideation .inner .sub_tit::after {content: ''; width: 20px; height: 20px; background: #fff; border: 3px solid #FFD955; border-radius: 50%;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .ideation .inner .txt {font-size: 15px; margin-bottom: 20px;}
.timeline .ideation .inner img {width: 100%;}
.timeline .ideation .inner .research .img {margin-bottom: 295px;}
.timeline .ideation .inner .infostructure .img {margin-bottom: 300px;}
.timeline .ideation .inner .right {width: 50%; float: right; padding-left: 15%; box-sizing: border-box;}
.timeline .ideation .inner .right .sub_tit::before {left: -215px;}
.timeline .ideation .inner .right .sub_tit::after {left: -40px;}
.timeline .ideation .inner .left {width: 50%; float: left; padding-right: 15%; box-sizing: border-box; text-align: right;}
.timeline .ideation .inner .left .sub_tit {margin-top: 835px;}
.timeline .ideation .inner .left .sub_tit::before {right: -215px;}
.timeline .ideation .inner .left .sub_tit::after {right: -40px;}
.timeline .ideation .inner .left .img {float: left; width: 50%;}
.timeline .ideation .inner .left .img img {width: 100%;}
/* .timeline .design */
.timeline .design {width: 100%;}
.timeline .design .inner {width: 75%; margin: 0 auto; overflow: hidden; position: relative;}
.timeline .design .inner::before {content: ''; width: 5px; height: 2667px; background: #fff;
position: absolute; left: 50%; top: 265px; transform: translateX(-50%); z-index: 2;}
.timeline .design .inner::after {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 265px; transform: translateX(-50%); z-index: 3;}
.timeline .design .inner .dot01 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 528px; transform: translateX(-50%); z-index: 3;}
.timeline .design .inner .dot02 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 1205px; transform: translateX(-50%); z-index: 3;}
.timeline .design .inner .num {font-size: 200px; font-weight: bold; letter-spacing: -20px;
position: absolute; right: 54%; top: 0%; transform: translateX(50%); color: #fff;}
.timeline .design .inner .sub_tit {font-size: 25px; font-weight: bold; color: #D03F2E; margin-bottom: 20px; position: relative;}
.timeline .design .inner .sub_tit::before {content: ''; width: 190px; height: 3px; background: #D03F2E;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .design .inner .sub_tit::after {content: ''; width: 20px; height: 20px; background: #fff; border: 3px solid #D03F2E;
border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .design .inner .txt {font-size: 15px; margin-bottom: 20px;}
.timeline .design .inner .right {width: 50%; float: right; padding-left: 15%; box-sizing: border-box; margin-top: 350px;}
.timeline .design .inner .right .sub_tit::before {left: -210px;}
.timeline .design .inner .right .sub_tit::after {left: -40px;}
.timeline .design .inner .right .layoutsc .imgBox {overflow: hidden; margin-bottom: 555px;}
.timeline .design .inner .right .layoutsc .img {width: 24.25%; margin-right: 1%; float: left;}
.timeline .design .inner .right .layoutsc .img:last-child {margin-right: 0%;}
.timeline .design .inner .right .layoutsc .img img {width: 100%;}
.timeline .design .inner .right .prototype .img.wide {width: 100%; margin-bottom: 20px;}
.timeline .design .inner .right .prototype .img {width: 24.25%; margin-right: 1%; float: left; margin-bottom: 300px;}
.timeline .design .inner .right .prototype .img:last-child {margin-right: 0%;}
.timeline .design .inner .right .prototype .img img {width: 100%;}
.timeline .design .inner .left {width: 50%; float: left; padding-right: 15%; box-sizing: border-box; text-align: right;}
.timeline .design .inner .left .tit {font-size: 75px; font-weight: bold; margin: 100px 0 320px;}
.timeline .design .inner .left .sub_tit::before {right: -215px;}
.timeline .design .inner .left .sub_tit::after {right: -40px;}
.timeline .design .inner .left .list_tit {font-size: 25px; font-weight: bold; text-align: left; margin-bottom: 35px;}
.timeline .design .inner .left .list_sub_tit {font-size: 15px; text-align: left; margin-bottom: 20px;}
.timeline .design .inner .left .logo {width: 100%; overflow: hidden; margin-bottom: 70px;}
.timeline .design .inner .left .logo .img {width: 50%; float: left;}
.timeline .design .inner .left .logo .img img {width: 100%;}
.timeline .design .inner .left .logo .txtBox {width: 50%; float: right;}
.timeline .design .inner .left .logo .txtBox .txt:first-child {margin-top: 20px;}
.timeline .design .inner .left .elements {width: 100%; overflow: hidden; margin-bottom: 70px;}
.timeline .design .inner .left .elements .imgBox {margin-bottom: 20px; overflow: hidden;}
.timeline .design .inner .left .elements .imgBox .img {width: 30%; float: left; margin-right: 5%;}
.timeline .design .inner .left .elements .imgBox .img:nth-child(3) {margin-right: 0%;}
.timeline .design .inner .left .elements .imgBox .img img {width: 100%;}
.timeline .design .inner .left .elements .txt {margin-bottom: 0;}
.timeline .design .inner .left .color {width: 100%; overflow: hidden; margin-bottom: 70px;}
.timeline .design .inner .left .color .color_circle01 {width: 42%; float: left;}
.timeline .design .inner .left .color .color_circle02 {width: 42%; float: right;}
.timeline .design .inner .left .color .list_txt {font-size: 10px; font-weight: bold; line-height: 14px; width: 100%;}
.timeline .design .inner .left .color .list_txt .main {width: 100%; text-align: center; position: relative; margin-bottom: 15px; overflow: hidden; padding: 34px 0;}
.timeline .design .inner .left .color .list_txt .main::before {content: ''; width: 96px; height: 96px; border-radius: 50%;
position: absolute; left: 0%; top: 50%; transform: translateY(-50%); background: #FFD955;}
.timeline .design .inner .left .color .list_txt .main::after {content: ''; width: 96px; height: 96px; border-radius: 50%;
position: absolute; right: 0%; top: 50%; transform: translateY(-50%); background: #D03F2E; z-index: 0;}
.timeline .design .inner .left .color .list_txt p {position: relative; color: #fff;}
.timeline .design .inner .left .color .list_txt .main .main01 {width: 48%; margin-right: 4%; float: left;}
.timeline .design .inner .left .color .list_txt .main .main02 {width: 48%; float: left; z-index: 1;}
.timeline .design .inner .left .color .list_txt .sub {width: 100%; text-align: center; position: relative; margin-bottom: 15px; overflow: hidden; padding: 34px 0;}
.timeline .design .inner .left .color .list_txt .sub::before {content: ''; width: 96px; height: 96px; border-radius: 50%;
position: absolute; left: 0%; top: 50%; transform: translateY(-50%); background: #E9E9E9;}
.timeline .design .inner .left .color .list_txt .sub::after {content: ''; width: 96px; height: 96px; border-radius: 50%;
position: absolute; right: 0%; top: 50%; transform: translateY(-50%); background: #030101; z-index: 0;}
.timeline .design .inner .left .color .list_txt .sub .sub01 {width: 48%; margin-right: 4%; float: left; color: #030101;}
.timeline .design .inner .left .color .list_txt .sub .sub02 {width: 48%; float: left; z-index: 1;}
.timeline .design .inner .left .color .color_circle02 .list_txt .main::before {background: #BB420D;}
.timeline .design .inner .left .color .color_circle02 .list_txt .main::after {background: #648347;}
.timeline .design .inner .left .font {width: 100%; overflow: hidden; text-align: left;}
.timeline .design .inner .left .font .kr {width: 42%; float: left;}
.timeline .design .inner .left .font .eg {width: 42%; float: right;}
.timeline .design .inner .left .font .f_tit {font-size: 12px;}
.timeline .design .inner .left .font .exL {font-size: 50px; font-weight: bold; width: 25%; float: left; line-height: 68px;}
.timeline .design .inner .left .font .exS {font-size: 10px; line-height: 16px; width: 75%; float: right; padding: 10px 0;}
.timeline .design .inner .left .font ul {border-bottom: 1px solid #030101; overflow: hidden;}
.timeline .design .inner .left .font .noto {margin-bottom: 20px;}
.timeline .design .inner .left .font .kr .noto .exL {width: 30%;}
.timeline .design .inner .left .font .kr .noto .exS {width: 70%;}
.timeline .design .inner .left .font .gmarket {font-family: 'GmarketSansMedium'; margin-bottom: 20px;}
.timeline .design .inner .left .font .averia {font-family: 'Averia Serif Libre', cursive; border-bottom: 1px solid #030101;}
/* .timeline .contents */
.timeline .contents {width: 100%;}
.timeline .contents .inner {width: 75%; margin: 0 auto; overflow: hidden; position: relative;}
.timeline .contents .inner::before {content: ''; width: 5px; height: 1368px; background: #fff;
position: absolute; left: 50%; top: 268px; transform: translateX(-50%); z-index: 2;}
.timeline .contents .inner::after {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 268px; transform: translateX(-50%); z-index: 3;}
.timeline .contents .inner .dot01 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 550px; transform: translateX(-50%); z-index: 3;}
.timeline .contents .inner .dot02 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 1104px; transform: translateX(-50%); z-index: 3;}
.timeline .contents .inner .num {font-size: 200px; font-weight: bold; letter-spacing: -20px;
position: absolute; right: 54%; top: 0%; transform: translateX(50%); color: #fff;}
.timeline .contents .inner .tit {font-size: 75px; font-weight: bold; margin: 100px 0 60px;}
.timeline .contents .inner .sub_tit {font-size: 25px; font-weight: bold; color: #BB420D; margin-bottom: 20px; position: relative;}
.timeline .contents .inner .sub_tit::before {content: ''; width: 190px; height: 3px; background: #BB420D;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .contents .inner .sub_tit::after {content: ''; width: 20px; height: 20px; background: #fff; border: 3px solid #BB420D; border-radius: 50%;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .contents .inner .txt {font-size: 15px; margin-bottom: 20px;}
.timeline .contents .inner .left {width: 50%; float: left; padding-right: 15%; box-sizing: border-box; text-align: right;}
.timeline .contents .inner .left .sub_tit::before {right: -215px;}
.timeline .contents .inner .left .sub_tit::after {right: -40px;}
.timeline .contents .inner .left .text {margin-bottom: 440px;}
.timeline .contents .inner .left .img {width: 100%;}
.timeline .contents .inner .left .img img {width: 100%;}
.timeline .contents .inner .left video {width: 100%;}
.timeline .contents .inner .right {width: 50%; float: right; padding-left: 15%; box-sizing: border-box; margin-top: 550px;}
.timeline .contents .inner .right .sub_tit::before {left: -210px;}
.timeline .contents .inner .right .sub_tit::after {left: -40px;}
.timeline .contents .inner .right .img {width: 32%; float: left; margin-right: 2%;}
.timeline .contents .inner .right .img img {width: 100%;}
.timeline .contents .inner .right .first_row {position: relative; overflow: hidden; margin-bottom: 10px;}
.timeline .contents .inner .right .first_row .img:nth-child(2) {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}
.timeline .contents .inner .right .first_row .img:nth-child(3) {float: right; margin-right: 0;}
.timeline .contents .inner .right .second_row {position: relative; height: 135px;}
.timeline .contents .inner .right .second_row .img:nth-child(1) {position: absolute; bottom: 35%;}
.timeline .contents .inner .right .second_row .img:nth-child(2) {width: 36%; float: right; margin-right: 0;}
.timeline .contents .inner .right .second_row .img:nth-child(3) {width: 40%; float: right;}
/* .timeline .development */
.timeline .development {width: 100%;}
.timeline .development .inner {width: 75%; margin: 0 auto; overflow: hidden; position: relative;}
.timeline .development .inner::before {content: ''; width: 5px; height: 1430px; background: #fff;
position: absolute; left: 50%; top: 268px; transform: translateX(-50%); z-index: 2;}
.timeline .development .inner::after {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 268px; transform: translateX(-50%); z-index: 3;}
.timeline .development .inner .dot01 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 670px; transform: translateX(-50%); z-index: 3;}
.timeline .development .inner .dot02 {content: ''; width: 35px; height: 35px; background: #fff; border-radius: 50%;
position: absolute; left: 50%; top: 997px; transform: translateX(-50%); z-index: 3;}
.timeline .development .inner .num {font-size: 200px; font-weight: bold; letter-spacing: -20px;
position: absolute; left: 52.5%; top: 0%; transform: translateX(-50%); color: #fff;}
.timeline .development .inner .tit {font-size: 75px; font-weight: bold; margin: 100px 0 60px;}
.timeline .development .inner .sub_tit {font-size: 25px; font-weight: bold; color: #648347; margin-bottom: 20px; position: relative;}
.timeline .development .inner .sub_tit::before {content: ''; width: 190px; height: 3px; background: #648347;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .development .inner .sub_tit::after {content: ''; width: 20px; height: 20px; background: #fff; border: 3px solid #648347; border-radius: 50%;
position: absolute; top: 50%; transform: translateY(-50%);}
.timeline .development .inner .txt {font-size: 15px; margin-bottom: 20px;}
.timeline .development .inner .img {width: 100%;}
.timeline .development .inner .html .img {margin-bottom: 330px;}
.timeline .development .inner .js .img {margin-bottom: 300px;}
.timeline .development .inner .img img {width: 100%;}
.timeline .development .inner .right {width: 50%; float: right; padding-left: 15%; box-sizing: border-box;}
.timeline .development .inner .right .sub_tit::before {left: -215px;}
.timeline .development .inner .right .sub_tit::after {left: -40px;}
.timeline .development .inner .left {width: 50%; float: left; padding-right: 15%; box-sizing: border-box; text-align: right;}
.timeline .development .inner .left .sub_tit {margin-top: 670px;}
.timeline .development .inner .left .sub_tit::before {right: -215px;}
.timeline .development .inner .left .sub_tit::after {right: -40px;}


/* .contatct */
.contact {width: 100%; background: #fff; overflow: hidden;}
/* .contatct-left */
.contact .left {width: 65%; background: #E9E9E9; float: left; padding-bottom: 200px;}
.contact .left .top h2 {padding: 170px 0 15px 0; font-size: 75px; text-align: center;}
.contact .left .top p {font-size: 20px; line-height: 27px; margin-bottom: 50px; text-align: center;}
.contact .left .bottom .contactBox {margin-left: 27%; position: relative;}
.contact .left .bottom .contactBox::before {content: ''; width: 1px; height: 337px; background: #6E6E6E;
position: absolute; top: 30px; left: 17.5px;}
.contact .left .bottom .contactBox ul {overflow: hidden; margin: 0 auto 45px; position: relative;}
.contact .left .bottom .contactBox ul li i {content: ''; width: 35px; height: 35px; background: #FFD955;
border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.contact .left .bottom .contactBox ul li .tit {font-size: 25px; font-weight: bold; float: left; line-height: 63px; margin-left: 55px;}
.contact .left .bottom .contactBox ul li .txt {width: 340px; height: 63px; background: #fff; float: right;
font-size: 25px; text-align: center; line-height: 63px; margin-right: 36%;}
/* .contatct-right */
.contact .right {width: 35%; float: right;}
.contact .right p.img {width: 470px; position: relative;}
.contact .right p.img img {width: 100%; position: absolute; left: -6%;}



/* footer */
footer {width: 100%; background: #030101; overflow: hidden;}
footer .bar {width: 100%; height: 300px; overflow: hidden; position: relative;}
footer .bar p {width: 150%; color: #fff; line-height: 300px; font-size: 100px; font-family: 'Averia Serif Libre', cursive;
animation: flow 30s linear infinite; position: absolute; right: -150%; display: inline-block;}
footer .bar p:last-child {animation-delay: 15s;}

@keyframes flow {
    0% {right: -150%;}
    100% {right: 150%;}
}

