@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');


/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
h1,h2,h3,h5,h6 {font-size: inherit;}
a:hover {text-decoration: none; color: inherit;}


/*layout*/
body {font-family: 'Noto Sans KR' , sans-serif; background: #fff;}
.wrap {width: 100%; overflow: hidden; position: relative;}

/*header*/
header{width: 100%; height: 100px; color: #fff; box-sizing: border-box; padding: auto; z-index: 200; background: #23255A; font-size: 20px; transition: all 0.1s; position: fixed;}
.innerheader{width: 1400px;  height: 100%; margin: 0 auto; overflow: hidden;}
.innerheader h1.logo{float: left; margin-top: 25px;}
.innerheader h1.logo a{width: 100%; height: 100%; display: block;} 
.innerheader h1.logo a img{width: 100%; height: 100%;}
.innerheader nav{width: 84%; height: 100%; margin: 0 auto; overflow: hidden; line-height: 100px;}
.innerheader nav ul.menu{float: right; width: 100%; height: 100%;overflow: hidden; margin-right: -452px;}
.innerheader nav ul.menu li{float: left; width: 7%; text-align: center; margin-left: 105px; }
.innerheader nav ul.menu li:first-child{margin-left: 0;}
.innerheader nav ul.menu li a{display: block; width: 100%; height: 100%;}
.innerheader nav ul.menu li .bottom{display: none;}

header .sub_menu {display: none;}

/*hover*/

header:hover{background: #171312; transition: all 0.1s;}
header .sub_menu ul.sub_list li a:hover span{
    content: ''; 
    display: inline-block; 
    width: 80px; 
    text-align: left;
    border-bottom: 1px solid #fff; 
    transition: all 0.1s; 
    animation-name: bottom; 
    animation-duration: 0.2s;
}

/*animation*/

@keyframes bottom{
    0%{width: 0%;}
    50%{width: 30px;}
    100%{width: 80px;}
}


header .sub_menu{width: 100%; height: 300px; margin: 0 auto; background: #171312; font-size: 18px;}
header .sub_menu nav{width: 1400px; height: 100%; overflow: hidden;  margin: 0 auto; position: relative;}
header .sub_menu ul.sub_list{display: flex; justify-content: flex-end; width: 520px; height: 100%; position: absolute; right: 235px; top: 0;}
header .sub_menu ul.sub_list li{ text-align: center;  padding-top:50px; box-sizing: border-box; width: 150px; margin-right: 45px;}

header .sub_menu ul.sub_list li a{line-height: 0.6; display: block; width: 100%; height: 30px; }
header .sub_menu ul.sub_list li:last-child{margin-right: 0;}




/*top*/
.wrap > .top{width: 100%; padding-top: 280px; margin: 0 auto; text-align: center;}
.wrap > .top .box_ {margin-bottom: 60px;}
.wrap > .top .box_ p.tit{font-size: 35px; font-weight: bold; margin-bottom: 60px;}
.wrap > .top .box_ span{display: inline-block; content: ''; border: 2px solid #3C4194; width: 5px; height: 5px; transform: rotate(45deg);}
/*button*/
.top ul.button{width: 602px; height: 80px; margin: 0 auto; overflow: hidden; text-align: center;}
.top ul.button li{float: left; width: 49.888%; margin: 0 auto; padding: 22px 0; box-sizing: border-box; border: 1px solid #707070; border-right: 0; transition: all 0.3s;}
.top ul.button li:first-child{border-left: 0;}
.top ul.button li:nth-child(2){background-color: #3C4194; color: #fff;}
.top ul.button li a.btn{display: block; width: 100%; height: 100%; font-size: 23px;}
/*btn_hover*/
.top ul.button li:hover{background: #3C4194; color: #fff; transition: all 0.5s;}

/*hover*/
.wrap > .top ul.button li:hover{background: #3C4194; color: #fff; transition: all 0.5s;}


/*inquiry*/
.inquiry {width: 1400px; margin: 0 auto;}
.inquiry table {margin-top: 180px; margin-left: auto; margin-right: auto; border-spacing: 0; border-top: 2px solid #666; border-left: 2px solid #666;
    border-right: 2px solid #666; border-bottom: 1px solid #666; width: 1400px; height: 672px; 
    text-align: center; table-layout:inherit;}
table th {border-bottom: 1px solid #666; font-weight: normal;}
table .first {height: 100px; font-size: 20px; font-weight: bold;}
table .first > th:nth-child(1) {margin-left: -30px;}
table .grb {color: #666;}
table tr {font-size: 15px; color: #222; position: relative;}
table th {overflow: hidden; table-layout: fixed;}
table th.ok > span {background-color: #3C4194; border-radius: 50px; color: #fff;
    padding: 8px 13px; box-sizing: border-box; margin-left: -20px;}
table th.no > span {background-color: #666; border-radius: 50px; color: #fff;
    padding: 8px 20px;  box-sizing: border-box; margin-left: -20px;}
table .gr {color: #666;}
table .category {font-size: 18px; width: 500px;}
table .gri {font-size: 15px; color: #666;}

/*answer*/
.answer {margin: 0 auto; width: 1400px; height: 45px; background: #eee; border-bottom: 1px solid #777;}
.answer ul {padding-top: 10px; overflow: hidden;}
.answer li {display:inline-block; margin:0 auto;}
.answer .mail {padding-left: 500px; width: 500px;}
.answer .mail a {float: left; color: #666;}
.answer .mail p {display:inline-block; margin-left: 10px; color: #666;}
.answer ul .right { float: right; padding-right: 53px;}




/*btn*/
ul.btn_list{width: 310px; margin: 0 auto;  overflow: hidden; margin-bottom: 180px; margin-top: 180px;}
ul.btn_list li{float: left; width: 119px;  text-align: center; margin-right: 57px; font-size: 15px;}
ul.btn_list li:last-child{margin-right: 0;}
ul.btn_list li a{display: block; width: 100%; height: 100%; padding: 5px; border: 2px solid #686868 ; color: #686868; transition: all 0.3s; } 
ul.btn_list li i{margin-left: 15px;}
/*hover*/
ul.btn_list li a:hover{color: #3c4194; border: 2px solid #3c4194 ; transition: all 0.5s;}

/* rightBtn */
.wrap > a {width: 100%; height: 100%;}
.wrap a p.rightBtn {background: #3C4194; border-radius: 50%; padding: 20px 15px; position: fixed; right: 50px; bottom: 50px; font-size: 20px; text-transform: uppercase;
font-weight: bold; color: #fff;}
.wrap a p.rightBtn.on {position: absolute; bottom: 420px;}
.wrap a p.rightBtn span {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); font-size: 16px; font-weight: bold;}


/* footer */
footer{width: 100%; height: 370px; margin: 0 auto;padding-top: 46px;color: #fff;background: #171312;box-sizing: border-box;}
.inner_footer{width: 1160px; height: 100%; margin: 0 auto;}
.inner_footer .top{width: 100%; margin: 0 auto; margin-bottom: 35px;}
.inner_footer .menu{margin: 0 auto;overflow: hidden; }
.inner_footer .menu li{float: left; width: 20%;  height: 166px;border-right: 1px solid #707070; }
.inner_footer .menu li:first-child, .inner_footer .menu li:nth-child(2){border-right: 0px;}
.inner_footer .menu li a{position: relative;display: block;width: 100%;height: 100%;}

/*hover*/
.inner_footer .menu li.txt p:hover a {text-decoration: underline;}
.inner_footer .menu li.logo {height: 100%;margin-top: 30px; }
.inner_footer .menu li.txt{float: right; text-align: center; }
.inner_footer .menu li.txt p{margin-bottom: 10px; font-size: 16px; font-weight: 300;}
.inner_footer .menu li.txt p.tit{margin-bottom: 20px;font-size: 20px; font-weight: normal;}

footer .bottom{width: 100%; margin: 0 auto;}
footer .bottom ul.contact{overflow: hidden;}
footer .bottom ul.contact > li:nth-child(1){float: left; width: 50%;height: 100%;}
footer ul.contact > li:nth-child(2){float: left; width: 40%;}
footer ul.contact li ul.adress{width: 445px; font-size: 15px;font-weight: 200; line-height: 1.2;overflow: hidden;}
footer ul.contact li ul.adress li span{font-weight: bold;}
footer ul.contact li ul.adress li.float{float: left; margin-right: 3%;width: 32%;}
footer ul.contact li ul.adress li:nth-child(3){text-align: right;width: 26%;}
footer ul.contact li ul.adress li:nth-child(4){margin-right: 0; text-align: right;width: 30%;}
footer ul.contact > li:last-child{margin-left: 40px; margin-top: -5px;}

footer ul.contact li ul.sns{font-size: 50px; overflow: hidden; text-align: right; width: 400px; margin-left: 64px; }
footer ul.contact li ul.sns li{float: left; width: 25%;}