@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');


/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
h1,h2,h3,h5,h6 {font-size: inherit;}
a:hover {text-decoration: none; color: inherit;}

header{width: 100%; height: 100px; color: #fff; box-sizing: border-box; padding: auto; z-index: 200; background: rgba(2,2,2,0.19); font-size: 20px; transition: all 0.1s;}
.innerheader{width: 1400px;  height: 100%; margin: 0 auto; overflow: hidden;}
.innerheader h1.logo{float: left; margin-top: 25px;}
.innerheader h1.logo a{width: 100%; height: 100%; display: block;} 
.innerheader h1.logo a img{width: 100%; height: 100%;}
.innerheader nav{width: 84%; height: 100%; margin: 0 auto; overflow: hidden; line-height: 100px;}
.innerheader nav ul.menu{float: right; width: 100%; height: 100%;overflow: hidden; margin-right: -452px;}
.innerheader nav ul.menu li{float: left; width: 7%; text-align: center; margin-left: 105px; }
.innerheader nav ul.menu li:first-child{margin-left: 0;}
.innerheader nav ul.menu li a{display: block; width: 100%; height: 100%;}
.innerheader nav ul.menu li .bottom{display: none;}

header .sub_menu {display: none;}




/*hover*/

header:hover{background: #171312; transition: all 0.1s;}
header .sub_menu ul.sub_list li a:hover span{
    content: ''; 
    display: inline-block; 
    width: 120px; 
    text-align: left;
    border-bottom: 1px solid #fff; 
    transition: all 0.1s; 
    animation-name: bottom; 
    animation-duration: 0.2s;
}

/*animation*/

@keyframes bottom{
    0%{width: 0%;}
    50%{width: 50%;}
}


header .sub_menu{width: 100%; height: 300px; margin: 0 auto; background: #171312; font-size: 18px;}
header .sub_menu nav{width: 1400px; height: 100%; overflow: hidden;  margin: 0 auto; position: relative;}
header .sub_menu ul.sub_list{display: flex; justify-content: flex-end; width: 540px; height: 100%; position: absolute; right: 230px; top: 0;}
header .sub_menu ul.sub_list li{ text-align: center;  padding-top:50px; box-sizing: border-box; width: 150px; margin-right: 45px;}

header .sub_menu ul.sub_list li a{line-height: 0.6; display: block; width: 100%; height: 30px; }
header .sub_menu ul.sub_list li:last-child{margin-right: 0;}
